@import url(reset.css);


/* first part */

.first__part__footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 59%;
    margin: 0 240px;
}

.main__title__footer {
    color: rgb(44, 44, 44);
    font-size: 18.5px;
    font-weight: 500;
    margin-top: 56px;
    margin-bottom: 33px;
}

.item__list__footer {
    color: rgb(122, 122, 122);
    font-size: 15px;
    margin: 0 30px 27px 0;
}

.line__footer {
    border-top-width: 1px;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 2px 1px rgb(0 0 0 / 5%), 0 0 2px rgb(0 0 0 / 6%);
    content: "";
    display: block;
    margin-top: 48px;
    height: 600px;
    width: 100%;
    height: 867px;
}

.line::before {
    border-top-width: 1px;
    border-top: 2px solid rgba(0,0,0,.1);
    content: "";
    display: block;
    margin: 25px 240px 0 240px;
}


/* second part */

.second__part__footer {
    margin-left: 240px;
}

.sociais {
    display: flex;
    gap: 16px;
}

.img__sociais {
    width: 32px;
    opacity: 87%;
    margin: 40px 0 20px 0;
}

.img__sociais:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.link__footer:hover {
    color: rgb(19, 19, 19);
}


.list__burocraticos {
    display: inline-flex;
    margin-left: -17px;
}

.link__burocraticos {
    padding: 18px;
    font-size: 15px;
}

.line__link__burocraticos {
    color: rgb(92, 92, 92);
}

.link__burocraticos:hover {
    color: var(--cinza);
    text-decoration: underline;
  
}

.last__p {
    font-size: 14px;
    color: gray;
    margin: 22px 0 0 -1px;
}